@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;900&display=swap');

* {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
}

.mconatiner {
    max-width: 90%;
    margin: 0 auto;
}

.banner {
    max-width: 50%;
    margin: 0 auto;
}

.phone-btn {
    margin-right: 10px;
}

.navbar-brand {
    font-weight: 900;
}

.footer {
    text-decoration: none;
}

q {
    font-size: 22px;
}

.plur {
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

.shadow {
    box-shadow: 7px 7px 23px -5px rgba(0, 0, 0, 0.79) !important;
    -webkit-box-shadow: 7px 7px 23px -5px rgba(0, 0, 0, 0.79) !important;
    -moz-box-shadow: 7px 7px 23px -5px rgba(0, 0, 0, 0.79) !important;
}

@media (max-width: 850px) {

    .grid-container {
        grid-template-columns: 1fr;
    }

    .banner {
        max-width: 100%;
    }

    .mconatiner {
        max-width: 95%;
    }
}